<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <header th:fragment="encabezado">
            <h1>Control de clientes</h1>
        </header>
        
         <footer th:fragment="pie">
            <h5>Derecho Recervado 12/12/2021</h5>
         </footer>
        
    </body>
</html>
